<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="FakeItEasy" version="1.7.4574.62" />
  <package id="Machine.Fakes" version="0.5.1" />
  <package id="Machine.Fakes.FakeItEasy" version="0.5.1" />
  <package id="Machine.Specifications" version="0.5.7" />
</packages>