_UpgradeReport_Files
UpgradeLog.XML
source/*/obj
source/bin
source/project.csproj
*.chm
_[Rr]e[Ss]harper.*
*.csproj.user
*.csproj[1-9]*
*.csproj*FileList*
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
artifacts
*.orig
project.nuspec
distribution
nuget_key
*mm_cache.bin
packages
mspec_command.output

